@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap");
.redes a {
  font-size: 30px;
  text-align: center;
  padding: 5px 10px;
  color: rgb(255, 255, 255);
}
.redes a:hover {
  transform: scale(1.2);
  transition: all 1s ease;
  color: rgb(97, 97, 97);
}

/*----Reset---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Serif Pro", serif;
}

.navbar-brand {
  font-weight: bold;
}

body {
  background-color: rgba(210, 192, 228, 0.9921568627);
}

.vh-height2 {
  height: 85vh;
}

/*JumbotronInicia*/
/*--contacto--*/
.jumbotron {
  background-image: url(../img/computadora.jpg);
  background-size: cover;
  background-position: center center;
  height: 450px;
  margin-bottom: 10px;
}

/*JumboTronFin*/
.hero {
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/pexels-lisa-fotios-851219\ -\ copia.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuprincipal {
  align-items: center;
  text-align: center;
}
.menuprincipal button {
  height: 40px;
  background-color: rgba(210, 192, 228, 0.9921568627);
  font-size: 20px;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid black;
  padding: 5px;
}

button:hover {
  background-color: #8e2de2;
}

/*---Form---*/
.contact-in {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #666;
}

.contact-map {
  width: 100%;
  height: auto;
  flex: 50%;
}
.contact-map iframe {
  width: 100%;
  height: 100%;
}

.contact-form {
  width: 100%;
  height: auto;
  flex: 50%;
  padding: 30px;
  text-align: center;
}
.contact-form h1 {
  margin-bottom: 10px;
}

.contact-form-txt {
  width: 100%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
.contact-form-txt::placeholder {
  color: #aaa;
}

.contact-form-textarea {
  width: 100%;
  height: 130px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
  font-family: "Poppins", sans-serif;
}
.contact-form-textarea::placeholder {
  color: #aaa;
}

.contact-form-btn {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #8e2de2;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 0;
  cursor: pointer;
  font-size: 18px;
}

/*--SERVICIOS-MAIN--*/
h1 {
  text-align: center;
  font-size: 50px;
  background-color: #000000;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.card__servicios {
  background-color: rgba(210, 192, 228, 0.9921568627);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 4px 10px 0 #000000;
  overflow: hidden;
  margin: 10px;
}

.card__servicios h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.card__servicios p {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 20px;
  padding: 5px;
}

.card__servicios img {
  width: 200px;
  border-radius: 50%;
  box-shadow: 2px 4px 10px 0 #000000;
  background-position: center;
  background-size: cover;
}

.card__servicios:hover {
  background-color: #8e2de2;
}

/*--FIN SERVICIOS-MAIN--*/
/*--Titulos-trabajo*/
.flex--trabajo {
  width: 50%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #666;
  margin-bottom: 10px;
  overflow: hidden;
}

.titulos-trabajo h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

.titulos-trabajo h2 {
  text-align: center;
  font-weight: bold;
  background-color: #8e2de2;
}

.titulos-trabajo p {
  text-align: center;
  font-size: 20px;
  font-family: Georgia, Times, "Times New Roman", serif;
}

/*---sobre mi---*/
/*---FOOTER---*/
.footer-contenedor {
  margin-top: 40px;
  padding: 15px;
  background-color: rgb(0, 0, 0);
  justify-content: space-between;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}
.footer-contenedor h3 {
  font-size: 20px;
}

/*---END FOOTER--*/
/*---MEDIA QUERYS--*/
@media screen and (max-width: 860px) {
  .flex-container {
    grid-template-columns: 1fr;
    margin: 5px;
    gap: 10px;
  }
  .card__servicios {
    margin: 2px;
    margin-bottom: 10px;
  }
  .vh-height2 {
    height: 100%;
  }
  .titulos-trabajo h1 {
    font-size: 30px;
  }
  .titulos-trabajo h2 {
    font-size: 1.2rem;
  }
  .titulos-trabajo p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 780px) {
  .flex-container {
    grid-template-columns: 1fr;
    margin: 5px;
    gap: 10px;
  }
  .card__servicios {
    margin: 2px;
    margin-bottom: 10px;
  }
  .vh-height2 {
    height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .flex-container {
    grid-template-columns: 1fr;
    margin: 5px;
    gap: 10px;
  }
  .card__servicios {
    margin: 0px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .flex-form {
    flex-direction: column;
  }
  .vh-height2 {
    height: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
