body{
    background-color: $bg-color;
}
.vh-height2{
    height: 85vh;
}

/*JumbotronInicia*/
/*--contacto--*/
.jumbotron{
    background-image: url(../img/computadora.jpg);
    background-size: cover;
    background-position: center center;
    height: 450px;
    margin-bottom: 10px;
  }
/*JumboTronFin*/ 

.hero{
    height: 90vh;
    background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.2),
      rgba(0,0,0,0.2)
    )
    ,url(../img/pexels-lisa-fotios-851219\ -\ copia.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex();
}
.menuprincipal {
	align-items: center;
	text-align: center;
	button {
		height: 40px;
		background-color: $bg-color;
		font-size: 20px;
		border-radius: 5px;
		font-weight: bold;
		border: 2px solid black;
		padding: 5px;
	}
}
button {
	&:hover {
		background-color: $sd-color;
	}
}

/*---Form---*/
.contact-in {
	width: 80%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 0px 10px 0px #666;
}
.contact-map {
	width: 100%;
	height: auto;
	flex: 50%;
	iframe {
		width: 100%;
		height: 100%;
	}
}
.contact-form {
	width: 100%;
	height: auto;
	flex: 50%;
	padding: 30px;
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}
.contact-form-txt {
	width: 100%;
	height: 40px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 50px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
	&::placeholder {
		color: #aaa;
	}
}
.contact-form-textarea {
	width: 100%;
	height: 130px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 10px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
	font-family: 'Poppins', sans-serif;
	&::placeholder {
		color: #aaa;
	}
}
.contact-form-btn {
	width: 100%;
	border: none;
	outline: none;
	border-radius: 50px;
	background: $sd-color;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 0;
	cursor: pointer;
	font-size: 18px;
}
/*--SERVICIOS-MAIN--*/
h1 {
    text-align: center;
    font-size: 50px;
    background-color: #000000;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  
  .card__servicios {
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 4px 10px 0 #000000;
    overflow: hidden;
    margin: 10px;
  }
  .card__servicios h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .card__servicios p {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
  }
.card__servicios img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 2px 4px 10px 0 #000000;
	background-position: center;
	background-size: cover;
}
.card__servicios:hover{
    background-color: $sd-color;
  }
/*--FIN SERVICIOS-MAIN--*/

/*--Titulos-trabajo*/
.flex--trabajo{
    width: 50%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 0px 10px 0px #666;
    margin-bottom: 10px;
    overflow: hidden;

}
.titulos-trabajo h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 10px;
    margin-top: 10px;

}
.titulos-trabajo h2 {
    text-align: center;
    font-weight: bold;
    background-color: $sd-color;
  }
  .titulos-trabajo p{
    text-align: center;
    font-size: 20px;
    font-family:Georgia, Times, 'Times New Roman', serif;
  }
  /*---sobre mi---*/