/*---MEDIA QUERYS--*/
@media screen and (max-width: 860px) {
    .flex-container {
        grid-template-columns: 1fr;
        margin: 5px;
        gap: 10px;
    }

    .card__servicios {
        margin: 2px;
        margin-bottom: 10px;
    }
    .vh-height2 {
        height: 100%;
    }
    .titulos-trabajo h1 {
        font-size: 30px;
    }
    .titulos-trabajo h2{
        font-size: 1.2rem;
    }
    .titulos-trabajo p{
        font-size: 1rem;
    }
}
@media screen and (max-width: 780px) {
    .flex-container {
        grid-template-columns: 1fr;
        margin: 5px;
        gap: 10px;
    }

    .card__servicios {
        margin: 2px;
        margin-bottom: 10px;
    }
    .vh-height2 {
        height: 100%;
    }
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
    }
}


    @media screen and (max-width: 480px) {
        .flex-container {
            grid-template-columns: 1fr;
            margin: 5px;
            gap: 10px;
        }

        .card__servicios {
            margin: 0px;
            margin-bottom: 10px;
            overflow: hidden;
        }

        .flex-form {
            flex-direction: column;
        }

        .vh-height2 {
            height: 100%;
        }
        .btn-wsp{
            width:63px;
            height:63px;
            line-height: 66px;
        }
    }
    

